:root {
    --black: #171321;
    --white: #f7f8fa;
    --orange: rgb(255, 61, 0) !important;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    /*margin-left: 3px;
    margin-right: 3px;*/
    padding: 0;
}

section h2, footer h2 {
  color: aliceblue;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

nav {
  margin: 0 auto;
  background-color: #393E46;
  border: var(--black) 1px;
  font-family: var(--mono);
  font-size: 100%;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: flex;
  }

nav li:first-child {
  font-size:  100%;
}

nav a:hover, nav [class*="fa-"]:hover, footer [class*="fa-"]:hover{
  color: var(--orange);
  text-decoration: none;
}

.logo {
  max-height: 4rem;
  max-width: 4rem;
  vertical-align: middle;
  margin-right: 2px;
  }

.sticky {
  position: sticky;
  background-color: rgba(57, 62, 70, 0.8);
  top: 0;
  width: 100%;
  z-index: 1100;
}

@media (min-width: 850px) {
  nav {
    margin: 0 ;
  }
  
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

.content {
  margin-top: 0;
  padding-left: 4px;
  padding-right:  4px;
}

.divider {
  margin-top: 20px;
}

#intro {
    background-color: var(--orange);
    
}

img {
  display: block;
}

span h1 {
  color: var(--orange);
  text-decoration:  none;
}



section {
  margin: 0;
  padding: 0;
}

section p {
    color: var(--black);
}

footer {
    background-color: var(--black);
    text-align: center;

}

footer a {
  color: var(--white);
  margin-left: 1.5rem;;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

small {
  color: var(--white);
}

section .card {
  color: var(--orange);
}