:root {
    --black: rgb(0,0,0);
    --white: #f7f8fa;
    --orange: rgb(247, 75, 7) !important;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    /*margin-left: 3px;
    margin-right: 3px;*/
    padding: 0;
}

section h2, footer h2 {
  color: var(--orange);
  text-align: center;
  margin: 1.5rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

nav {
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--black);
  border: var(--black) 1px;
  font-family: var(--mono);
  font-size: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: flex;
}

.gradient-nav{
  background: radial-gradient(circle, rgba(255,124,0,1) 6%, rgba(0,0,0,1) 90%);
  height: 2px;
  margin-bottom: 1.5rem;
}

nav li:first-child {
  font-size:  100%;
}

nav a:hover, nav [class*="fa-"]:hover, footer [class*="fa-"]:hover{
  color: var(--orange);
  text-decoration: none;
}

.logo {
  max-height: 4rem;
  max-width: 4rem;
  vertical-align: middle;
  margin-right: 2px;
  }

.sticky {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;
  z-index: 1100;
}

.gradient {
  background: radial-gradient(circle, rgba(0,0,0,1) 6%, rgba(255,124,0,1) 100%);
  /* background: radial-gradient(circle, rgba(255,124,0,1) 6%, rgba(0,0,0,1) 90%); */
  height: 2px;
  margin-bottom: 1.5rem;
}

@media (min-width: 850px) {
  nav {
    margin: 0 ;
  }
  
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

.content {
  margin-top: 0;
  padding-left: 4px;
  padding-right:  4px;
}

img {
  display: block;
}

span h1 {
  color: var(--orange);
  text-decoration:  none;
  text-align: center;
  line-height:normal;
  margin-bottom: auto;
}

section {
  margin: 0;
  padding: 0;
}

section p {
    color: var(--white);
}

footer {
    background-color: var(--black);
    text-align: center;

}

footer a {
  color: var(--white);
  margin-left: 1.5rem;;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

small {
  color: var(--white);
}

section .card {
  color: var(--orange);
}
.address {
  margin-top: 1.5rem;
  color: var(--white);
}